@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway Light'), local('Raleway-Light'), url('../fonts/Raleway-Light.ttf') format('truetype');
}

body {
    font-family: 'Raleway';
}
